PORT=4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fdr_qrauth
JWT_SECRET=change_this_in_prod
JWT_EXPIRES_IN=1h
QR_SIGNING_ALG=HS256
UPLOADS_DIR=./uploads
STORAGE_PROVIDER=minio
S3_ENDPOINT=http://localhost:9000
S3_REGION=us-east-1
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=documents
PUBLIC_BASE_URL=http://localhost:4000
